repo: {
    name: pulumi-created-repo
    description: Demo Repository created with Pulumi
}

branches: {
    sandbox: {
        protected: false
    },
    dev: {
        protected: true
    },
    stage: {
        protected: true
    },
    prod: {
        protected: true
    }
}

default_branch: sandbox
